*.coverage
*.egg-info/
*.pyc
*coverage/
.tox/
app_media/
app_static/
db.sqlite
dist/
docs/_build/
local_settings.py
htmlcov/
.cache/
.idea/
.pytest_cache/
#Ipython/Jupyter Notebook
.ipynb_checkpoints
*.ipynb
